<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>天气预报</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src='http://ajax.microsoft.com/ajax/jquery/jquery-1.11.3.min.js'></script>
    <script src="//cdn.bootcss.com/echarts/3.1.10/echarts.common.min.js"></script>
</head>

<body style="margin:0 auto ; width:65%">
    <div class="page-header">
        <h1>天气预报<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你那里下雨了吗...</small></h1>
    </div>
    <div>
        <input type="text" id="cityname" class="form-control" style="width:100%" placeholder="输入城市名称... " aria-describedby="basic-addon1">
        <br>
        <button type="button"  id="sub" class="btn btn-success">查询</button>
    </div>
    <hr>
    <div id="return">
        <div class="well well-sm">查询结果...</div>
    </div>
    <br>
    <br>
    <br>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#sub").click(function() {
            var cn = document.getElementById("cityname").value
            $.post("search_seven", {
                    cityname: cn
                },
                function(data, status) {

                    $("#return").html(data);
                })
        });
    });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <br>
    <br>
<div  style="position: fixed; bottom: 0; left: 0;height: 30px;  background-color:#dddddd;  width: 100%; ">
<p align="center">
<span class="glyphicon glyphicon-globe"></span>
这是一首简单的小情歌</p></div>
</body>

</html>
